body {
    font-family: Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F6F5F2;
}

h1, h2, h3, h4, th, td, p {
    color: #1A1A1A;
}

article {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    overflow: hidden;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
    line-height: 2em;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.post-thumbnail {
    width: 100%;
}

img.attachment-twentyfourteen-full-width.wp-post-image {
    width: 100%;
    height: auto;
}

table.table-show {
    width: 100%;
    padding: 0;
    margin: 1em 0;
}

tr {
    line-height: 1.5em;
}

th {
    padding: 0;
    margin: 0;
    width: 5em;
    min-width: 4.4em;
    vertical-align: top;
    text-align: justify;
}

td {padding: 0;}

span.artist {
    display: inline-block;
}

p {
    line-height: 1.6em;
}

a {
    text-decoration: none;
}
/*
 * fanzhanao add
 */
table.table-show, .table-show tr,.table-show th,.table-show td{
    border-width: 0;
}
footer#colophon.site-footer { 
    max-width: 94vw; 
    margin: 0 auto 40px auto; 
    border-top: 1px solid rgba(0,0,0,0.1); 
    padding: 40px 0 0 0; 
} 
 
input.search-field { 
    -webkit-appearance: none; 
    height: 40px; 
    font-size: 16px; 
    border:1px solid rgba(0, 0, 0, 0.3); 
    box-shadow: inset 0 0 3px rgba(150, 150, 150, 0.3); 
    vertical-align: middle; 
} 

input.search-submit { 
    -webkit-appearance: none; 
    height: 40px; 
    font-size: 16px; 
    border:1px solid rgba(0, 0, 0, 0.3); 
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2); 
    vertical-align: middle; 
}

.masthead-fixed .site-header{
    position:fixed;
    top:0;
    height: 44px;
    display:block;
}
.site-header{
    background-color:#ff0000;
    max-width:400px;
    width: 100%;
    z-index: 4;
}
.header-main{
    padding-right:0;
    padding:0 20px;
    height: 44px;
}
.nav-back,.nav-share{
    background-color:#ff0000;
    width: 44px;
    height: 44px;
    cursor:pointer;
    text-align:center;
    display: block;
}
.nav-back{
    float: left;
}
.nav-share{
    float: right;
}