.masthead-fixed .site-header{
    position:fixed;
    top:0;
    height: 44px;
    display:block;
}
.site-header{
    background-color:#ff0000;
    max-width:414px;
    width: 100%;
    z-index: 4;
}
.header-main{
    padding-right:0;
    padding:5px 5px;
    height: 44px;
}
span.glyphicon{
    font-size: 30px;
    color:#fff;
}
.nav-back,.nav-share,.nav-city,.nav-user{
    background-color:#ff0000;
    width: 44px;
    height: 44px;
    cursor:pointer;
    text-align:center;
    padding-top: 6px;
    display: block;
}
.nav-back,.nav-city{
    float: left;
}
.nav-share,.nav-user{
    float: right;
}
.nav-margin-top{
    margin-top: 44px;
}
.city-list ul{
    margin: 0 20px 24px 20px;
}
.bullet_list{
    width: 100%;
    height: 100%;
    background-image: url("./bullet_list.png");
}
.user-icon{
    width: 100%;
    height: 100%;
    background-image: url("./user.png");
}
.previous-icon{
    width: 100%;
    height: 100%;
    background-image: url("./previous.png");
}
.share-icon{
    width: 100%;
    height: 100%;
    background-image: url("./share.png");
}
#slider-single img,#slider-home img{
    max-width: 100%;
}

.nav-title{
    font-size: 17px;
    color:#fff;
    position:absolute;
    line-height: 44px;
    height: 100%;
    margin-left: 35%;
    text-align: center;
    display: block;
}